<div class="fundo">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <h5>Contato</h5>
            <ul>
                <li><a href="" class="aa">Email</a></li>
                <li><a href="" class="aa">Contatos</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <h5>Registro</h5>
            <ul>
                <li><a href="/start/registro" class="aa">Criar conta</a></li>
                <li><a  href="/start/login" class="aa">Login</a></li>
            </ul>
        </div>
        
        <div class="col-md-4">
            <h5>Mais</h5>
            <ul>
                <li><a href="http://www.blogme.com.br/" class="aa" target='_blank'>Blogme</a></li>
                <li><a href="https://www.instagram.com/greenlink.site/" class="aa">Instagram</a></li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <p class="center">GreenLink &copy 2021</p>
</div>

<style>
    .fundo {
        background-color: black;
        color: white;
        padding: 20px;
    }

.aa {
  text-decoration: none;
  color: white;
}
</style>