<!-- Just an image -->
<nav class="navbar navbar-white bg-white le">
  <div class="le">
    <a class="navbar-brand" href="/">
      <img src="img/link.png" alt="" class='img'>
    </a>
  </div>
</nav>

<style>
  .li {
    text-decoration: none;
    decoration: none;
  }

  .le {
    align-items: left;
  }

  a {
    color: green;
  }

  .img {
    height: 50px;
    width: 50px;
    margin-left: 20px;
  }

  .dog {
    font-family: 'Amethysta', serif;
    font-size: 15px;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }
</style>
